<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/06327L744/IdeaProjects/RestAssuredProject">
        <classes>
            <class name="com.org.test.GetBasedAPITests">
                <methods>
            <include name="validateGetBasedAPITests"/>
            <include name="validateGetBasedAPITests2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>